<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/simple-sidebar.css" />
    <link rel="stylesheet" href="/css/chat.css" />
  </head>

  <body>
    <body>
      <div class="d-flex" id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
					

          <div class="container-fluid">
                  <div class="messaging">
                        <div class="inbox_msg">
                          <div class="inbox_people">
                            <div class="inbox_chat" id="inbox_chat"></div>
                          </div>
                          <div class="mesgs">
                            <div class="msg_history" id="msg_history">
                              
                            </div>
                            <div class="type_msg">
                              <div class="input_msg_write">
                                <input type="text" id="write_msg" class="write_msg" placeholder="Type a message" />
                                <button class="msg_send_btn" id="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> > </button>
                              </div>
                            </div>
                          </div>
                        </div>                        
                      </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->
			
  </body>
</html>
